

.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px dotted black;
    padding: 5%;
    opacity: 40%;
    font-style: italic;
    font-size: small;
}