.header-travels-txt {
    font-weight: 100;
    color: rgb(189, 137, 7);
    font-style: italic;
    text-decoration: none;
}

.nav-helper-txt {
    /* display: none; */
    font-style: italic;
    opacity: 50%;
    color: white;
    margin-left: 10px;
    font-size: small;
}

@media only screen and (max-width: 500px){
    .nav-helper-txt {
        height: 0px;
        display: none;
    }
}

.nav-link-home {
    border-right: 1px solid grey !important;
    text-decoration: none !important;
    color: white !important;
}

.brandname-txt {
    text-decoration: none;
    color: white;
}

.nav-home-txt {
    color: white;
    text-decoration: none;
}

.logout-btn {
    color: white;
    border: 1px solid white;
    text-decoration: none;
}